@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.footer {
    width: 100%;
    padding: 30px 20px;
    background-color: $theme-2;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;

    @include for-tablet-portrait-up {
        font-size: 16px;
    }
}